body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #d6bcf8, #f1f1f1f1);
    overflow-x: hidden;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.teacher {
    display: flex;
    gap: 10vw;
    width: 100%;
    max-width: 80%;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.teacher:hover {
    transform: scale(1.05);
}

.teacher-photo {
    position: relative;
    flex: 2;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-photo::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%; 
    height: 100%; 
    background: #71448056;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
    transition: background 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
}

.teacher:hover .teacher-photo::before {
    background: #5f207479; 
    border-radius: 50%; 
    transform: scale(1.1); 
}

.teacher-photo img {
    width: 100%;
    height: auto;
    position: relative; 
    z-index: 1;
}

.teacher-info {
    margin-top: 14vw;
    flex: 1;
    padding: 2vw;
    text-align: center;
}

.teacher-info h2 {
    margin: 0 0 1vw;
    font-size: 2vw;
    color: #333;
    white-space: nowrap;
}

.teacher-info p {
    margin: 0;
    font-size: 1.5vw;
    color: #656363;
}

.teacher:nth-child(even) {
    flex-direction: row-reverse;
}

.teacher:nth-child(even) .teacher-info {
    text-align: center;
}

@keyframes sliderShape {
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

/*/////////////////////////////////////////////////Группы///////////////////////////////////////////////////////////////////////////////*/
.groups {
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    gap: 4vw; /* Увеличиваем расстояние между элементами для улучшения восприятия */
    padding: 4vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px; /* Округлые углы для контейнера */
}

.group {
    position: relative;
    width: 100%;
    max-width: 100%; /* Убираем максимальную ширину */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
    transition: transform 0.4s ease, opacity 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column; /* Элементы внутри групп располагаются вертикально */
    align-items: center;
}

.group:hover {
    transform: translateY(-10px); /* Легкий подъем при наведении */
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15); /* Усиленная тень при наведении */
}

.group-photo img {
    width: 100%; /* Картинка растягивается на всю ширину контейнера */
    height: 70%; /* Уменьшаем высоту картинки */
    object-fit: cover; /* Картинка заполняет контейнер, сохраняя пропорции */
    display: block;
    border-radius: 10px; /* Округленные углы для картинок */
    transition: transform 0.3s ease;
}

.group:hover .group-photo img {
    transform: scale(1.1); /* Увеличиваем фото при наведении */
}

.group-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Затемнённый фон */
    color: #fff; /* Белый текст */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; /* Текст скрыт по умолчанию */
    transition: opacity 0.3s ease;
    padding: 2vw;
    border-radius: 15px;
}

.group:hover .group-info {
    opacity: 1; /* Текст становится видимым */
}

.group-info h2 {
    margin: 0 0 0.8vw;
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #d5abf1; /* Яркий оранжевый для заголовков */
}

.group-info p {
    font-size: 1.3vw;
    line-height: 1.5;
    max-width: 90%;
    margin: 0;
    color: #f4f4f4;
    font-style: italic;
}

.group-info p:hover {
    color: #918e92; /* Цвет текста при наведении на описание */
}


/*/////////////////////////////////////////////////Карта///////////////////////////////////////////////////////////////////////////////*/
.map-section {
    text-align: center; 
    margin-left: 3vw;
    margin-right: 3vw;
}

#map {
    border-radius: 20px; 
    overflow: hidden; 
    width: 100%; 
    height: 25vw; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


