body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #d6bcf8, #f1f1f1f1);
    overflow-x: hidden; /* Убираем горизонтальный ползунок */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Занимаем всю высоту экрана */
    width: 100vw; /* Занимаем всю ширину экрана */
}

.auth-box {
    background-color: #E9E5FF; /* Измененный цвет фона */
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 1px 7px 20px 3px rgba(18, 16, 16, 0.25);
    width: 80%; /* Увеличенная ширина */
    max-width: 600px; /* Увеличенная максимальная ширина */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
}

.auth-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #714480f6;
    margin-bottom: 2rem; /* Добавляем отступ снизу */
}