/* Стиль футера */
.site-footer {
    background-color: #1c1c1c; /* Темный фон */
    color: #fff;
    padding: 15px 20px; /* Уменьшаем отступы */
    text-align: center;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для футера */
}

/* Контейнер для контента футера */
.footer-content {
    max-width: 1000px; /* Уменьшаем максимальную ширину */
    margin: 0 auto;
}

/* Текст в футере */
.footer-content p {
    margin: 0;
    font-size: 12px; /* Уменьшаем размер текста */
    font-weight: 300;
    line-height: 1.5;
}

/* Ссылки футера */
.footer-links {
    margin-top: 10px; /* Уменьшаем отступ сверху */
    display: flex;
    justify-content: center;
    gap: 12px; /* Уменьшаем расстояние между ссылками */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 11px; /* Уменьшаем размер текста ссылок */
    font-weight: 500;
    position: relative;
}

/* Эффект при наведении на ссылки */
.footer-links a:hover {
    color: #ba91e293; /* Цвет ссылки при наведении */
}

.footer-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ba91e293;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Секция социальных иконок */
.footer-social {
    margin-top: 15px; /* Уменьшаем отступ сверху */
    display: flex;
    justify-content: center;
    gap: 25px; /* Увеличиваем расстояние между иконками */
    flex-wrap: nowrap; /* Иконки остаются на одной строке */
}

/* Иконки социальных сетей */
.social-icon {
    width: 28px; /* Уменьшаем размер иконок */
    height: 28px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    opacity: 1;
}

/* Пространство перед футером */
.spacer {
    height: 60px; /* Расстояние по умолчанию для десктопов */
}

/* Для планшетов */
@media (max-width: 1024px) {
    .spacer {
        height: 70px; /* Уменьшаем пространство для планшетов */
    }

    .footer-social {
        gap: 20px; /* Увеличиваем расстояние между иконками для планшетов */
    }

    .social-icon {
        width: 24px; /* Уменьшаем размер иконок для планшетов */
        height: 24px;
    }
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .spacer {
        height: 50px; /* Еще меньше для мобильных устройств */
    }

    .footer-links {
        flex-direction: column; /* Расположение ссылок в колонку */
    }

    .footer-social {
        justify-content: center; /* Иконки центрируются по ширине */
        gap: 12px; /* Увеличиваем расстояние между иконками для мобильных устройств */
    }

    .social-icon {
        width: 20px; /* Еще меньше для мобильных устройств */
        height: 20px;
    }
}

