body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #d6bcf8, #f1f1f1);
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100vw;
}

.request-box {
    background-color: #E9E5FF;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 500px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.request-title {
    font-weight: 700;
    font-size: 2rem;
    color: #714480f6;
    margin-bottom: 1.5rem;
}

.child-info h3, .parent-info h3 {
    font-size: 1rem;  /* Уменьшаем размер шрифта */
    color: #757575;     /* Цвет серый */
    margin-bottom: 1rem;
    font-weight: 300; /* Убираем жирность */
}

.request-input {
    width: 90%;
    max-width: 400px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
}

.request-input:focus {
    border-color: #71448094;
    box-shadow: 0 0 8px rgba(113, 68, 128, 0.5);
}

.request-button {
    width: 90%;
    max-width: 400px;
    padding: 0.8rem;
    background-color: #71448094;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.request-button:hover {
    background-color: #71448094;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.request-button:active {
    background-color: #71448071;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
}

/* Стили для блоков */
.child-info, .parent-info {
    margin-bottom: 2rem;
}

.child-info h3, .parent-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info input {
    margin-bottom: 1rem;
}

/* Адаптация для экранов до 1024px */
@media (max-width: 1024px) {
    .request-box {
        padding: 2rem;
    }
    .request-title {
        font-size: 1.8rem; /* Уменьшаем размер заголовка */
    }
    .request-input, .request-button {
        width: 95%;
        max-width: 380px;
    }
    .child-info h3, .parent-info h3 {
        font-size: 1.3rem;  /* Немного уменьшаем размер заголовков */
    }
}

/* Адаптация для экранов до 768px */
@media (max-width: 768px) {
    .request-box {
        padding: 1.5rem;
    }
    .request-title {
        font-size: 1.6rem;
    }
    .request-input, .request-button {
        width: 100%;
    }
    .child-info h3, .parent-info h3 {
        font-size: 1.2rem;  /* Меньший размер заголовков */
    }
}

/* Адаптация для экранов до 480px */
@media (max-width: 480px) {
    .request-box {
        padding: 1rem;
    }
    .request-title {
        font-size: 1.4rem;
    }
    .request-input, .request-button {
        width: 100%;
        font-size: 0.9rem;  /* Уменьшаем размер шрифта в полях */
    }
    .child-info h3, .parent-info h3 {
        font-size: 1rem;  /* Меньше размер заголовков */
    }
}
