body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #d6bcf8, #f1f1f1f1);
    overflow-x: hidden; /* Убираем горизонтальный ползунок */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    padding: 0.5vw;
}

.auth-box {
    background-color: #E9E5FF; /* Измененный цвет фона */
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 1px 7px 20px 3px rgba(18, 16, 16, 0.25);
    width: 80%; /* Увеличенная ширина */
    max-width: 600px; /* Увеличенная максимальная ширина */
    text-align: center;
    margin-top: -15vh; /* Поднимаем окошко авторизации выше */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: center; /* Центрируем элементы по вертикали */
}

.auth-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #714480f6;
    margin-bottom: 2rem; /* Добавляем отступ снизу */
}

.auth-input {
    border: 1px solid #D1D5DB;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    color: #3B006E; /* Измененный цвет текста */
    font-family: 'Inter', sans-serif;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box; /* Убедимся, что padding включен в ширину */
}

.auth-input:hover {
    border-color: #8B5CF6; /* Измененный цвет границы */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.auth-input:focus {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.auth-button {
    background: linear-gradient(45deg, #A9A5FF, #6B46C1); /* Градиентный фон кнопки */
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 9999px;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.auth-button:hover {
    background: linear-gradient(45deg, #6B46C1, #A9A5FF); /* Измененный градиентный фон кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.auth-footer {
    font-size: 0.875rem;
    margin-top: 1rem;
    color: #3B006E; /* Измененный цвет текста */
    font-family: 'Inter', sans-serif;
}

.error-message {
    color:
}